
// Basic styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    transition: all .3s ease;
    color: #fff;
}
body {
    background-color: #000;
    color: #fff;
    min-width: 320px;
    overflow-x: hidden;
    font-family: sans-serif;
}

// Basic styles
// ---------------------------------------------------------
// Header styles

.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.logo {
    display: flex;
    align-items: center;
    padding: 30px;
    img {
        width: 80px;
        margin-right: 30px;
    }
    span {
        font-size: 25px;
    }
}
.pay__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #45A609;
    box-shadow: 0 2px 2px 1px #4B784F;
    height: 60px;
    width: 270px;
    &:hover {
        box-shadow: none;
    }
    span {
        background-color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
    }
    img {
        width: 80px;
    }
    p {
        text-align: center;
        flex: 1;
    }
}